@font-face {
    font-family: bebasneuelight;
    src: url(../assets/font/BebasNeue\ Light.ttf);
}
@font-face {
    font-family: bebasneue;
    src: url(../assets/font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: helvetican;
    src: url(../assets/font/helvetica.otf);
}
@keyframes fadein {
    0%{opacity: 0;}   
    100%{opacity: 1;}         
}
html{
    background-color: black;
    color: white;
}
#navbar {
    width: 100%;
    display: block;
    height: 80px;
}
#container {
    animation: fadein 0.7s;
    color: white;
    text-align: center;
    margin: auto;
    position: relative;
    max-width: 400px;
    height: 100%;
}
#title {
    font-family: bebasneuelight;
    font-size: 60px;
}
a {
    text-decoration: none;
}
#footer{
    font-family: helvetican;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (min-width: 780px) {
    #container {
        max-width: 780px;
    }   
}