@font-face {
    font-family: bebasneuelight;
    src: url(../assets/font/BebasNeue\ Light.ttf);
}
@font-face {
    font-family: bebasneue;
    src: url(../assets/font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: helvetican;
    src: url(../assets/font/helvetica.otf);
}
@keyframes fadein {
    0%{opacity: 0;}   
    100%{opacity: 1;}         
}
@keyframes topbuttonspin {
    0%{transform: 0deg;}
    100%{transform: 270deg;}
}
html{
    background-color: black;
    color: white;
}
#navbar {
    width: 100%;
    display: block;
    height: 80px;
}
#backbutton {
    border-radius: 50%;
    top: 0px;
    left: -10px;
    height:80px;
    width:80px;
    background-image: url(../../assets/back.png);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    position: absolute;    
}
#backtotop{
    background-image: url(../../assets/arrowblack.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 75px;
    width: 75px;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: rgb(207, 207, 207);
    border-radius: 50px;
    transition: 0.3s;
    animation-fill-mode: forwards;
}
#container {
    animation: fadein 0.7s;
    color: white;
    margin: auto;
    position: relative;
    max-width: 400px;
    height: 100%;
    
}
#title {
    text-align: center;
    font-family: bebasneuelight;
    font-size: 60px;
    padding-bottom: 50px;
}
#footer{
    font-family: helvetican;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
#flex {
    display: flexbox;
    text-align: center;
}
h1, h2, p, img {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;    
}
h2{
    font-family: helvetican;
    font-size: 40px;
}
p {
    font-family: helvetican;
    font-size: 25px;
    line-height: 40px;
}
a {
    text-decoration: none;
    color: rgb(88, 171, 254);
}
@media only screen and (min-width: 780px) {
    #container {
        max-width: 780px;
    }
    h1, h2, p {
        margin-left: 40px;
        margin-right: 40px;
    }   
}